<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    <p>
      this is the about page.
    </p>
    <br>
    <a href="/">Home Page</a>
    <a href="/contact">Contact Page</a>
  </body>
</html>
